body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    margin: 0;
}

.cont, .cont-prop, .cont-val{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 5px;
}

p{
    background-color: whitesmoke;
    padding: 20px;
}