body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0;
}

ul{
    list-style: none;
}

li{
    padding: 5px;
}

#numero{
    font-size: 24px;
    font-weight: 900;
    color: blue;
}